.weather-card{
  margin-top: 10px;
}

.hero{
  background-image: url("https://www.portland.gov/sites/default/files/styles/facebook/public/2020/city-explorer-01.png?itok=fRtIemRR");
  background-repeat: no-repeat;
  background-size: cover;
}